@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;900&display=swap');

:root{
    --primary-color: rgb(207, 235, 218); 
    --light-color: #f4f4f4;
    --dark-color: rgb(8, 4, 4);
  
    /* --secondary-color: #1c3fa8;
    
    
    --success-color: #5cb85c;
    --error-color: #d9534f;
    */
}


body{
    font-family: 'Lato', sans-serif;
    color: var(--dark-color);
    line-height: 1.6;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color:var(--dark-color);
}
/*Encabezado*/
.encabezado{
    background-color:var(--primary-color);
    height: 100px;
    
}

.logo img{
    display: block;
    width: 20%;
    height: auto;
    border-radius: 1px bold;
}


/* Navbar */
.navbar{
    display: inline;    
}
.navbar-nav{
    display: flex;
    color:rgb(170, 80, 80);
    font-weight: bold;
}
.navbar a{
    padding: 10px;
    margin: 0 5px;
}
.nav-item {

}
/*Carousel*/
.collapse{
    width: 50;
}

/*Footer*/

.pie{
    background-color: var(--primary-color);
    justify-items: flex-end;
}

.pie a:hover{
    border: none;
}